.servicos {
   
    display: grid;
    grid-template-columns:  1fr 2fr;
    padding: 1.3rem;
    margin-bottom: 2rem;
}

.bg-image{
    background-image: url('https://arquivo.devmedia.com.br/marketing/img/artigo-introducao-a-programacao-estruturada-24951.png');
    background-repeat: no-repeat;
    background-position:right;
    background-size: cover;
    border-radius: 8px;
}

.servicos-conteudo {
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 8px;
    margin: 1.4rem;
    padding: 0rem 1.2rem;
    width: 100%;
    background-color: #F7F9FB;
}