.servicos{
    height: 500px;
    background-image: url('https://acadtec.com.br/storage/posts/pictures/ntVKoNURQUQhP9ghaf06607dcbf590338.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}